$theme-colors: (
    "primary": #0af,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$bg-color: #eef;
$adv-icon-width : 50px;

body {
  background: $bg-color;
}

.nav-item{
  .fa-phone, .fa-map-marker{
    border: 2px solid $primary;
    border-radius: 100%;
  }
  .nav-link{
    line-height: 5rem;
  }
}

.in-circle{
  border: 2px solid $primary;
  border-radius: 100%;
}

.circle{
  border-radius: 100%;
}

.adv-icon{
  width: $adv-icon-width;
  height: $adv-icon-width;

}

.logo{
  img {
    height: 100px;
  }

}

#button-up{
  width: 50px;
  height: 50px;
  border-radius: 10%;
  position: fixed;
  right: 25px;
  bottom: 25px;
  font-size: $h4-font-size;
  line-height: $h1-font-size;
  z-index: 1000;
  cursor: pointer;
  opacity: .7;
}

#button-up:hover{
  opacity: 1;
}

.logo-sub{
  font-size: 0.7rem;
}

#categories{
  .card:hover{
    box-shadow: 0 0 5px 1px $primary;
    cursor: pointer;
    text-decoration: none;
  }
  img{
    width:100%;
  }
}

.pointer{
  cursor: pointer;
}